@import 
url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: white;
    margin:2px;
    font-family: 'Lato', sans-serif;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}
.header{
    background-color:black;
    color:white;
    height:200px;    
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
}
.logo{
    float:left;
    margin-top: 35px;
    margin-left: 35px;
    font-family:cursive;
    font-size:1.8rem;
}
.slogan{
    float:bottom;
    margin-bottom:40px;
    font-family:cursive;
    font-size:0.9rem;    
}
.links{
    float:right;
    margin-top:40px;
    margin-right:20px;
    font-size:0.9rem;
    color:red; 
}
.links a{
    padding:15px;
    color:white;
    font-family: cursive;
}
.links a:hover{
    color:red;
}
.center{
    height:1000px; 
    max-width:950px;
    padding: 20px;
}
.box img{
    max-width:500px;
    height: 750px;
    margin-top: 100px;
    float:left;
}
.box{
    width: 930px;
    height: 950px;
}
.contact{
    float:right;
    margin-top:100px;
    width: 40%;
    color: black;
    font-size:1rem;
}
.contact img{
    max-width: 50px;
    max-height: 50px;
    float: bottom; 
    float: right;
    margin-top: 40px;
    margin-right: 70px;
}
.footer{
    max-width: 950px;
    height:100px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size:0.9rem;
}
.footer img{
    max-width: 50px;
    max-height: 50px;
    float: top;
    float: right;
}
